# Virtual environment
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Q-Atlas local cache & large raw datasets
cache/
.cache/
data/

# OS metadata
.DS_Store
Thumbs.db
